@import url('https://fonts.cdnfonts.com/css/satoshi');

body {
  font-family: "satoshi", sans-serif;
  font-size: 1.2em;
  color: #707070;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  transition: all 0.3s ease;
  color: #38B;
}

a:hover,
a:focus {
  text-decoration: none;
  color: rgb(26, 221, 0);
}

a:focus {
  outline: none;
}

.btn {
  padding: 8px 32px;
}

.btn:hover {
  background-color: #ced4da;
}

blockquote {
  font-size: 0.86em;
  line-height: 1.8em;
}

.tm-section-pad-top {

  padding-bottom: 40px;
}

.tm-content-box {
  padding-top: 20px;
  padding-bottom: 40px;
}

.tm-text-primary {
  color: #1e7e34;
}

.tm-font-big {
  font-size: 1.25rem;
}

.tm-btn-primary {
  color: white;
  background-color: #1d7531;
  padding: 14px 30px;
}

.tm-btn-primary:hover,
.tm-btn-primary:focus {
  color: white;
  background-color: #38B;
}

/* Navbar */

.tm-navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  transition: all 0.3s ease;
}

.tm-navbar.scroll {
  background-color: white;
  border-bottom: 1px solid #e9ecef;
}

.navbar-brand {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  display: none
}

.navbar-brand:hover,
.tm-navbar.scroll .navbar-brand:hover {
  color: #38B;
}

.tm-navbar.scroll .navbar-brand {
  color: #369;
  display: block;
}

.nav-item {
  list-style: none;
}

.tm-nav-link {
  color: white;
}

.tm-navbar.scroll .tm-nav-link {
  color: #1d7531;
}

.tm-navbar.scroll .tm-nav-link:hover,
.tm-navbar.scroll .tm-nav-link.current,
.tm-nav-link:hover {
  color: #FFF !important;
  background-color: #1d7531;
}



.navbar-toggler {
  border: 1px solid white;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-toggler-icon {
  color: white;
  padding-top: 6px;
}

.tm-navbar.scroll .navbar-toggler {
  border: 1px solid #707070;
}

.tm-navbar.scroll .navbar-toggler-icon {
  color: #707070;
}

/* Hero */

#infinite {
  background-color: #222;
  background-image: url(../img/infinite-loop-01.jpg);

  height: 100vh;
  min-height: 375px;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-height: 600px) and (min-width: 1920px) {
  #infinite {
    background-size: cover;
  }
}

@media (min-height: 830px) {
  #infinite {
    background-position: center -210px;
  }
}

@media (min-height: 680px) and (max-height: 829px) {
  #infinite {
    background-position: center -300px;
  }
}

@media (min-height: 500px) and (max-height: 679px) {
  #infinite {
    background-position: center -400px;
  }
}

@media (max-height: 499px) {
  #infinite {
    background-position: center -450px;
  }
}

.tm-hero-text-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;


  background: rgb(5,86,48);
  background: linear-gradient(-10deg, rgba(10, 149, 32, 0.64) 3%, rgba(1, 4, 11, 0.78) 45%);
}

.tm-hero-text-container-inner {}

h1 {
  font-size: 3.5rem;
  
  text-shadow: 2px 2px 2px #333;
  margin-bottom: 40px !important;
}

.tm-hero-subtitle {
  text-shadow: 2px 2px 2px #333;
  font-size: 25px;
  line-height: 1.2;
  width: 67%;
  margin: auto;
  margin-top: 20px;
  font-weight: normal;
  color: white;
}

.tm-intro-next {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
}

@media (max-height: 480px) {
  .tm-hero-text-container-inner {
    margin-top: -40px;
  }

  .tm-intro-next {
    bottom: 20px;
  }
}

.tm-down-arrow-link {
  display: block;
  margin-top: 18%;
}

.tm-down-arrow {
  color: #58b045;
  cursor: pointer;
  background: #fff;
  padding: 15px 40px;
  transition: all 0.3s ease;
}

.tm-down-arrow:hover,
.tm-down-arrow:focus {
  color: #FFF;
  background: #37A;
  padding: 20px 50px;
}

/* Introduction */

#introduction {
  padding-bottom: 100px;
}

.tm-section-title {
  font-size: 3.6rem;
  font-weight: 600;
  text-align: center;
}

.tm-intro-text {
  font-size: 1.2rem;
}

.tm-icon {
  display: block;
  color: #28a745;
}

.tm-continue {
  padding: 20px 0 30px 0;
}

/* Testimonials */
#testimonials {
  color: white;

  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}



.tm-testimonials-content {
  position: relative;
  z-index: 100;
}

.tm-bg-overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(10 45 68 / 0%), rgb(84 167 68 / 40%));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}



.tm-testimonials-carousel {
  max-width: 1050px;
  margin: 0 auto;
}

.tm-testimonial-item {
  max-width: 290px;
  margin-left: 35px;
  margin-right: 35px;
}

.tm-testimonial-item img {
  border-radius: 50%;
  margin-bottom: 35px;
}

.tm-testimonial-item figcaption {
  text-align: right;
  font-style: italic;
  font-size: 1.1rem;
}

/* Work */

.tm-section-desc {
  max-width: 650px;
  width: 100%;
  font-size: 0.9rem;
}

.tm-gallery-container {


}

.tm-gallery-item {
  margin: 0 15px;
}

.slick-dots {
  bottom: -65px;
}

.slick-dots li {
  margin: 0 13px;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before,
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #28a745;
}

.tm-testimonials-carousel .slick-dots li button:before {
  color: white;
  opacity: 0.5;
}

.tm-testimonials-carousel .slick-dots li button:hover:before,
.tm-testimonials-carousel .slick-dots li button:focus:before,
.tm-testimonials-carousel .slick-dots li.slick-active button:before {
  color: white;
  opacity: 1;
}

.slick-dots li button:before {
  font-size: 18px;
}

/* Hover Effect */
/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption>a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-size: 0.9em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 600;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/*---------------*/
/***** Honey *****/
/*---------------*/

figure.effect-honey {
  background: #4a3753;
  max-width: 220px;
}

figure.effect-honey img {
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-honey img {
  opacity: 0.4;
  height: 300px;
  object-fit: cover;
}

figure.effect-honey figcaption::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: rgb(51, 204, 117);
  content: "";
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}

figure.effect-honey h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em 1.5em;
  width: 100%;
  text-align: left;
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
}

figure.effect-honey h2 i {
  font-style: normal;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
}

figure.effect-honey figcaption::before,
figure.effect-honey h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figure.effect-honey figcaption::before,
figure.effect-honey h2,
figure.effect-honey h2 i {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.tm-container-gallery {
  padding-top: 30px;
}

/* Contact */

#contact {
  color: white;
  background-color: #001828;
  background-image: url(../img/deas.png);

  background-repeat: no-repeat;

  position: relative;
  padding-bottom: 50px;
  padding-top: 100px;
  background-size: cover;
  background-attachment: fixed;
}

.contact-item {
  margin-left: 20px;
  margin-bottom: 50px;
}

.item-link {
  display: flex;
  align-items: center;
}

.item-link i,
.item-link span {
  color: white;
  transition: all 0.3s ease;
}

.item-link:hover i,
.item-link:hover span {
  color: #3496d8;
}

.tm-input {
  margin: 0 0 20px 0;
  width: 45%;
  padding: 8px 20px;
  border-radius: 6px;
  border: 1px solid white;
  background: transparent;
  color: white;
}

.tm-btn-submit {
  font-size: 0.9em;
  color: #fff;
  background-color: #1d7531;
  width: 50%;
  margin-bottom: 60px;
}

.tm-btn-submit:hover {
  color: #fff;
  background-color: #38B;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.tm-footer {
  position: absolute;
  bottom: 35px;
  left: 0;
  right: 0;
  padding: 0 15px;
}

.tm-footer a {
  color: #fff;
}

.tm-footer a:hover {
  color: #9CF;
}

.tm-footer-link {
  color: white;
}

.tm-footer-link:hover,
.tm-footer-link:focus {
  color: #38B;
  text-decoration: none;
}

p {
  line-height: 1.9;
}

@media (min-width: 768px) {
  .tm-intro-text-container {
    padding-left: 0px;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1275px;
  }

  .tm-container-gallery {
    max-width: 1290px;
  }

  .tm-container-contact {

  }
}

@media (max-width: 991px) {
  .tm-intro-text-container {
    padding-left: 15px;
    padding-top: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-intro-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-btn-submit {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {

  .navbar-nav {
    max-width: 200px;
    text-align: right;
  }

  .navbar-collapse {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 3px;
  }

  .navbar-collapse .nav-link {
    color: #707070;
    padding-right: 20px;
  }
}

@media (max-width: 480px) {
  .tm-gallery-container {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-gallery-container-2 {
    max-width: 350px;
  }

  .slick-dots li {
    margin: 0 8px;
  }

  .tm-gallery-item {
    margin: 0;
  }
}

.list-inline {
  margin-bottom: 30px;
  margin-top: 0;

  z-index: 100;
}

.social-buttons li a {
  display: block;
  background-color: #f8f9fa;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: #2e8437;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 100;
  margin-left: 10px;
}

.social-buttons li a:hover,
.social-buttons li a:focus,
.social-buttons li a:active {
  background-color: #2e8437;
  color: #FFF;
}

.social-container {

  display: flex;
  justify-content: center;
}

.logo {
  height: 65px;
}

.reduced {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 5px solid #051c11;
}

#valors {
  color: white;
 
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  
}

@media (max-width: 991px) {
  
}



.proyects-container {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
width: 1267.7px;
  margin: auto;
}


.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-title {
  text-align: center;
}

.two-colums {
  display: flex;
  flex-direction: row;
}

.two {
  max-width: 650px;
}

.two-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.valor {
  display: flex;
  flex-direction: column;
  max-width: 290px;
  background-color: #EEEEF8;
  margin: 20px;
  color: black;
  padding: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 18px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 18px -4px rgba(0,0,0,0.75);
box-shadow: 1px 1px 18px -4px rgba(0,0,0,0.75);

}

span {
  color: #28a745;
  margin: -15px;
}

.space {
  width: 100vw;
  height: 50px;
  background: rgb(11, 167, 76);
  background: linear-gradient(94deg, rgba(11, 167, 76, 1) 17%, rgba(2, 0, 36, 1) 100%);
}

.title-black h2 s {
  color: black;
}

h1 {
  font-size: 3.5rem;
  width: 660px;
  margin: auto;

  font-weight: bold;
}

.proyects-container img {

  object-fit: contain;
}

.subtitle-big {
  font-size: 4rem;
}

.half {
  max-width: 500px;
  object-fit: cover;

}

.surface {
  background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.77)), url(../img/surface.webp);
  background-size: cover;
  padding-bottom: 100px;
}

h2 {
  color: #001828 !important;
  font-size: 3.6rem;
}

.team-show {
  background-color: #001828 !important;
  padding-top: 70px;
}

.team-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.team {

  display: flex;
  flex-direction: column;
  width: 247px;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 40px;
  background-color: #0b5331;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;


  background-color: #bcbcbc;
  align-content: space-between;
  height: fit-content;
}

.text {
  background-color: white;
}

.blie {
  background-color: #001828;
}

h2 {
  color: #001828 !important;
}

.services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;

}

.services img {
  width: 50% !important;
}

.background {
  background-color: #001828;
}

.background h2 {

  color: #24ce4b !important;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 65vw;
  margin-bottom: 176px;
}

#name {
  width: 29vw;
  height: 54px;
}

#email {
  width: 34vw;
  height: 54px;
  margin-left: 20px;
}

#message {
  width: 65vw;
  height: 54px;
}

.btn.tm-btn-submit {
  margin: auto;
}

.contact-tittle {
  text-align: center;
  color: #1fb541 !important;
  margin-bottom: 50px;

}
.proyect-selecter {
  display: flex;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;
}

.selecter {

  background-color: #24ce4b;
  color: white;
  margin: 20px;
  padding: 5px 20px 5px 20px;

}

.price {
  position: relative;
  width: 100%;
  padding: 45px 0 15px 0;
}

.price .row {
  padding: 0 15px;
}

.price .col-md-4 {
  padding: 0;
}

.price .price-item {
  position: relative;
  margin-bottom: 30px;
  background: #ffffff;
  border-radius: 5px;
  text-align: center;
}

.price .featured-item {
  box-shadow: 0 0 30px rgba(0, 0, 0, .2);
  z-index: 1;
}

.price .price-header {
  padding: 45px 0 30px 0;
}

.price .price-header h3 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.price .price-header h2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 5px;
}

.price .price-header h2 span {
  font-size: 25px;
  line-height: 55px;
}

.price .price-item.featured-item h2,
.price .price-item.featured-item h3 {
  color: #11ac0b;
}

.price .price-body {
  padding: 0 0 20px 0;
}

.price .price-body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.price .price-body ul li {
  padding: 0 0 15px 0;
}

.price .price-body ul li i {
  margin-right: 10px;
}

.price .price-body ul li i.fa-check-circle {
  color: #39B972;
}

.price .price-body ul li i.fa-times-circle {
  color: #cccccc;
}

.price .price-item .price-footer {
  padding-bottom: 45px;
}

.price .price-item .price-footer .btn.btn-custom {
  color: #56e81c;
  background: #11ac0b;
  box-shadow: inset 0 0 0 0 #11ac0b;
}

.price .price-item .price-footer .btn.btn-custom:hover {
  color: #ffffff;
  background: #11ac0b;
  box-shadow: inset 200px 0 0 0 #11ac0b;
}

.price .price-item.featured-item .price-footer .btn.btn-custom {
  color: #ffffff;
  background: #11ac0b;
  box-shadow: inset 0 0 0 0 #202C45;
}

.price .price-item.featured-item .price-footer .btn.btn-custom:hover {
  color: #11ac0b;
  background: #11ac0b;
  box-shadow: inset 200px 0 0 0 #202C45;
}


.home-post {
	background:#fff;
  width: 365px;
  margin: 20px;
	
}

.home-post:hover {
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}


.home-post .entry-content {
	padding:20px;
  text-align: center;
}
.home-post .entry-content h5 a {
	font-size:22px;
  color: #11ac0b;
  border-bottom: 1px solid #312b27;
  padding-bottom: 10px;
}
.home-post .entry-content h5  {


  border-bottom: 1px solid #312b27;
  padding-bottom: 10px;
}
.home-post .entry-content h5 a:hover {
	color:#312f2b;
	text-decoration:none;
}
.home-post .entry-content a.more {
	font-size:13px;
}
.home-post .post-meta {
	padding:20px;
	overflow:hidden;
	color:#fcfcfc;
}
.home-post .post-meta i {
	float:left;
	margin-right:20px;
}
.home-post .post-meta span {
	margin-top:10px;
}
.home-post .post-meta span.date {
	font-weight:700;
	font-size:13px;
	float:left;
}
.home-post .post-meta span.tags {
	font-weight:700;
	font-size:13px;
	float:right;
	color:#ddd;
}
.home-post .post-meta span.tags a {
	color:#fcfcfc;
}
.aditionalservices-container {
  margin: auto;
}

#company {
  margin-left: 20px;
  width: 53%;
}
.marc {
  border-bottom: 1px solid brown;
}
.saber {
  border-radius: 20px;
  border: 3px solid green;
  width: 53%;
  text-align: center;
  color: black;
}

.saber:hover {
  background-color: #11ac0b;
  color: white;
}


.team-item .team-img {
  position: relative;
  width: 202px;
  height: 218px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  overflow: hidden;
  z-index: 1;
}


.team-item:hover .team-img::after {
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
}

.team-item .team-img img {
  transition: .5s;
}

.team-item:hover .team-img img {
  transform: scale(1.2);
}

.team .team-social {
  position: absolute;
  width: 75px;
  top: 0;
  bottom: 0;
  left: -75px;
  z-index: 1;
  transition: .5s;
}

.team:hover .team-social {
  left: 0;
}
.team-item {
  width: 314px;
  margin: 20px;
}b
.owl-carousel.team-carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.position-relative.text-center.bg-light.rounded.px-4.py-5 {
  color: #595959;
}


@media only screen and (max-width: 480px) {
.service-img {
  min-width: 100vw;
}
.moon h2 {
  color: white !important;
  margin: 12px !important;
  max-width: 150% !important;
  font-size: 2.2rem !important;
}
.tm-hero-text-container-inner h1 {

  font-size: 1.5rem;
  width: 78%;
  margin: auto;
  line-height: 32px;
}
.tm-hero-text-container-inner p {
  font-size: 12px;
  line-height: 1;
  width: 97%;
}

.tm-section-title {
  font-size: 2.6rem;

}

.text-title.subtitle-big {
  margin: 70px auto !important; 
}
.half {
  display: none;
}
form {
 
  width: 81vw;

}
.tm-input{
  width: 100% !important;
  margin: 0 !important;
  margin-bottom: 10px !important;
}
.tm-intro-text {
  text-align: inherit !important;
  font-size: 20px !important;
  width: 100% !important;
}
h2 {
  font-size: 2.6rem;
}
.main-text{
  font-size: 2.6rem !important;
}
}
.owl-carousel.team-carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mb-4 h2 {
  font-weight: 600 !important;
}

h2, p {
  font-family: satoshi;
  font-weight: 600;
  color: #5f5f5f;
  line-height: 1.2;
}
.tm-container-contact {
  max-width: fit-content;
  display: flex;
  justify-content: center;
}
.normal {
  font-weight: normal;
}
b, strong {
  font-weight: 700;
  color: black;
}
.moon {
  height: 250px;
  width: 100vw;
  background-image: linear-gradient(90deg, #009a3185 0%, #030b38a6 100%), url(../img/U2GKQDRHD5FIFHQNPJLAY6WXBY.png);
  background-size: cover;
  display: flex;
  align-items: center; 
}
.moon h2 {
  color: white !important;
  margin: 126px;
  max-width: 50%;
  font-size: 4.2rem;
}
.rounded h3 {
  color: #051c11;
}

.rounded h6 {
  color: #051c11 !important;
}

.tm-section-desc {
  max-width: 798px;
  width: 100%;
  font-size: 1.222222222222222222222222rem;
}









#a {

  width: 37.69230769230769%;

  height: 308px;

  right: 30px;
	box-shadow: 5px 7px 15px -10px rgba(0,0,0,0.75);
}


#b {
  width: 38.46153846153846%;
  right: 24px;
	box-shadow: 5px 7px 15px -10px rgba(0,0,0,0.75);
}



#c {

  width: 23.07692307692308%;

  top: 2px;

  right: -6px;
	box-shadow: 5px 7px 15px -10px rgba(0,0,0,0.75);
}



#d {

  width: 74.92307692307692%;

  top: 72px;
box-shadow: 5px 7px 15px -10px rgba(0,0,0,0.75);
  right: 14px;
}



#e {
  width: 23.07692307692308%;
  top: -157px;
  right: -14px;
	box-shadow: 5px 7px 15px -10px rgba(0,0,0,0.75);
}



#f {
  width: 23.07692307692308%;
  top: -406px;
  right: -873px;
	box-shadow: 5px 7px 15px -10px rgba(0,0,0,0.75);
}



#g {

  width: 23.07692307692308%;
  top: -167px;
  right: -578px;
	box-shadow: 5px 7px 15px -10px rgba(0,0,0,0.75);
}



#h {
  width: 36.61538461538462%;
  top: 122px;
  right: 700px;
	box-shadow: 5px 7px 15px -10px rgba(0,0,0,0.75);
}



#i {
  width: 35.38461538461538%;
  top: -183px;
  right: -458px;
	box-shadow: 5px 7px 15px -10px rgba(0,0,0,0.75);
}



#j {

  width: 22.92307692307692%;

  top: -188px;

  right: -500px;

	box-shadow: 5px 7px 15px -10px rgba(0,0,0,0.75);
}



#k {

  width: 36.61538461538462%;

  right: 779px;

  top: 165px;
	box-shadow: 5px 7px 15px -10px rgba(0,0,0,0.75);
}



#l {
  width: 61.8%;
  top: -146px;
  right: -477px;
	box-shadow: 5px 7px 15px -10px rgba(0,0,0,0.75);
}



#m {

  width: 36.61538461538462%;

  top: 105px;

  right: 800px;
	box-shadow: 5px 7px 15px -10px rgba(0,0,0,0.75);
}



#n {

  width: 29.23076923076923%;

  top: -122px;

  right: -240px;
	box-shadow: 5px 7px 15px -10px rgba(0,0,0,0.75);
}



#o {

  width: 29.23076923076923%;

  top: -121px;

  right: -265px;
	box-shadow: 5px 7px 15px -10px rgba(0,0,0,0.75);
}

.proyects-container img {
  position: relative;
}


@media only screen and (max-width: 480px){
.proyects-container {
width: 100%;
}

.proyects-container img {
  max-width: 262px;
  margin: 20px;
  object-fit: contain;
}

#a {

  width: 100%;


height: auto;
  right: auto;
}


#b {
  width:  100%;
  right: auto;
}



#c {

  width:  100%;

  top: auto;

  right: auto;
}



#d {

  width:  100%;

  top: auto;

  right: auto;
}



#e {
  width:  100%;
  top: auto;
  right: auto;
}



#f {
  width:  100%;
  top: auto;
  right: auto;
}



#g {

  width:  100%;
  top: auto;
  right: auto;
}



#h {
  width:  100%;
  top: auto;
  right: auto;
}



#i {
  width: 100%;
  top: auto;
  right: auto;
}



#j {

  width:  100%;

  top: auto;

  right: auto;
}



#k {

  width:  100%;

  right: auto;

  top: auto;
}



#l {
  width: 100%;
  top: auto;
  right: auto;
}



#m {

  width:  100%;

  top: auto;

  right: auto;
}



#n {

  width:  100%;

  top: auto;

  right: auto;
}



#o {

  width:  100%;

  top: auto;

  right: auto;
}


}


